body {
  font-family: 'Montserrat', sans-serif; }

.info {
  width: 300px;
  margin: 50px auto;
  text-align: center; }
  .info h1 {
    font-size: 20px; }

.card {
  position: relative;
  z-index: 1;
  display: block;
  background: #ffffff;
  min-width: 270px;
  height: 470px;
  text-align: center; }
  .card .pic {
    height: 400px; }
    .card .pic img {
      display: block;
      width: 100%; }
